html {
    font-size: 18px;

    button {
        border: none;
        height: 3.5rem;
        min-width: 12rem;
        transition: all .4s;
        border-radius: 0.5rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    button:hover {
        box-shadow: 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    .button-light {
        background: #D38D3F;
    }

    .button-light:hover {
        background: #EDA657;
    }

    .button-light:focus {
        background: #BC6E18;
    }

    .button-dark {
        background: #1F4F5A;
    }

    .button-dark:hover {
        background: #2B6370;
    }

    .button-dark:focus {
        background: #0E3943;
    }

    nav {
        background-color: #1F4F5A;
        min-height: 5.5rem;
        color: #fff;

        .navbar-text {
            color: #fff;
        }
    
        .logo-section {
            width: 45%;
            align-items: center;

            .navbar-brand {
                text-transform: uppercase;
        
                span {
                    color: #D38D3F;
                }
            }

            .navbar-text {
                font-size: 0.8rem;
                padding: 0;
            }
        }

        .desktop-nav {
            align-items: center;
            width: 50%;
            justify-content: space-evenly;

            svg {
                cursor: pointer;
            }
        }
        
        .mobile-nav, .mobile-nav:focus {
            border: none;
            box-shadow: none;
            min-width: 0;
        }

        .offcanvas-header {

            .offcanvas-title {
                text-transform: uppercase;
                color: #1F4F5A;

                span {
                    color: #D38D3F;
                }
            }

            .btn-close {
                padding-top: 0;
            }
        }

        .offcanvas-body {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: black;
                    }
                }
            }

            .offcanvas-footer {

                div {
                    color: black;
                }
            }
        }
    }

    .main {
        background-image: url('../img/main-bg.jpeg');
        background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, transparent 67%);

        .main-wrapper {
            padding-top: 10rem;
    
            .main-title {
                max-width: 30rem;
            }
    
            .main-sub-title {
                max-width: 20rem;
                margin-top: 1rem;
            }
    
            .main-text {
                max-width: 15rem;
                margin-top: 2rem;
            }
    
            button {
                margin-top: 1rem;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .mobile-nav {
          display: none;
        }

        .desktop-nav {
            display: flex;
        }
    }

    @media screen and (max-width: 768px) {
        .mobile-nav {
          display: flex;
        }

        .desktop-nav {
            display: none;
        }
    }
}